<%= form_with model:@project, :class=>"form-group", local: true do |form| %>
        <% if @project.errors.present? %>
        <%= @project.errors.full_messages.join(', ')%>
        <% end %>
        <div class="mt-4">
            <%= label_tag :title%>
            <div class="input-group">
                <%= form.text_field :title, :class=>'form-control'%>
             </div>
        </div>

        <div class="mt-4">
            <%= label_tag :description %>
            <div class="input-group">
                <%= form.text_area :description, cols:50 , rows:5,  :class=>'form-control'%>
             </div>
        </div>
        <div class="mt-4">
            <%= label_tag :due_date %>
            <div class="input-group">
                <%= form.date_field :due_date, :class=>'form-control' %>
             </div>             
             <br>
        </div>
        <div>
            <%= form.collection_check_boxes :tag_ids, Tag.order(name: :asc), :id, :name do |t| %>
                <%= t.check_box %>
                <%= t.text %>
            <% end %>
        </div>
        <div>
                <%= form.label :add_members  %>  
                <%= form.text_field :user_first_names  %> 
        </div>  
           <%=form.submit :Submit, class: "btn btn-primary"%>
        <% end %>
        <br/>


<script>
$(function(){
    $('#project_user_first_names').selectize({
        delimeter:',',
        persist: false,
        labelField:'first_name', //Coulmn name in db
        valueField:'first_name',//Coulmn name in db
        searchField:'first_name',//Coulmn name in db
        options: <%= User.select(:first_name).to_json(except:[:id]).html_safe %>,
        // The above line selects only names from tags table and converts them to a json array of objects without including ids and makes sure its a safe_html string
        // options:[{"name":"first tag"},{"name":"second tag"},{"name":"third tag"},{"name":"fourth tag"},{"name":"fifth tag"}, ....]
        
        create :function(input){
            return{
                first_name:input
            }
        }
    })
})

</script>